body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background:url(Love-iOS.jpg);
  background-size:cover;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
#im{
  position:relative;
  margin: auto;
  width:100%;
  max-width:600px;
  top:10%;
  bottom: 0%;
  height:100%;
  box-sizing:border-box;
  background:rgba(0, 0, 0, 0.555);
}

#input{
  position:absolute;
  z-index:2;
  height:100px;
  width:100%;
  left:10px;
  bottom:0;
  margin:0;
  padding:15px;
  box-sizing:border-box;
  background:rgba(34, 34, 34, 0.007);
  color:#fff;
}

#input input, #input span{
  display:inline-block;
  margin:27px 0;
}

#input input{
  width:80%;
  border:none;
  padding:4px;
  margin-left: 25px ;

}

#input span{
  width:10%;
  min-width:50px;
}

#input div{
  width:80%;
  float:left;
}

#input button{
  float:right;
  height:50%;
  width:20%;
  margin:25px 0;
  border:none;
  padding:0;
  background:#369;
  font-size:16px;
  color:#fff;
  cursor: pointer;
}

#show{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:calc(100% - 90px);
  overflow-y:scroll;
  padding:20px;
  box-sizing:border-box;
}

#show>div{
  position:relative;
  margin:0 0 20px 0;
  clear:both;
  height:40px;
}

#show>div>div{
  display:inline-block;
}

#show .time{
  position:absolute;
  top:-2px;
  font-size:10px;
  color:rgba(182, 171, 171, 0.918);
}

#show .name{
  color:#fff;
  vertical-align:middle;
  
  
}

#show .content{
  background:rgba(255,255,255,.8);
  padding:10px;
  margin-top:15px;
  margin-left:10px;
  border-radius:5px;
  vertical-align:middle; 
 
}

#show::-webkit-scrollbar {
  width:5px;
}
#show::-webkit-scrollbar-track {
  background:rgba(255,255,255,.1);
  border-radius: 5px;
}
#show::-webkit-scrollbar-thumb {
  background:rgba(255,255,255,.2);
  border-radius: 2px;
}







@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
    
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  cursor: pointer;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

#logged{
 color: white;
 margin-right:100%;

}
#css{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  background-color: rgb(36, 171, 189);
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
}
@-webkit-keyframes example {
  from {background-color: rgb(36, 171, 189);}
  to {background-color: rgb(245, 12, 12);}
}

/* Standard syntax */
@keyframes example {
  from {background-color: rgb(36, 171, 189);}
  to {background-color:  rgb(245, 12, 12);}
}
#jj{
  margin-left:100%； 
}
#logout-btn{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3.5s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3.5s;
  background-color: rgb(36, 171, 189);
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
}
#btn{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  background-color: rgb(36, 171, 189);
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;

}
#ch{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  background-color: rgb(36, 171, 189);
  padding: 5px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
