.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    z-index: -2;
    
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    right: 0;
    left:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(80, 70, 70, 0.096);
}

.video-container .filter {
    z-index: 100;
    width: 100%;

}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    height: auto;
    width: 100%;
  
}
.video-container video.fillWidth {
    width:100%;

}
#start{
	-moz-box-shadow: 0px 10px 14px -7px #556163;
	-webkit-box-shadow: 0px 10px 14px -7px #556163;
	box-shadow: 0px 10px 14px -7px #556163;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cadfe6), color-stop(1, #16c8e0));
	background:-moz-linear-gradient(top, #cadfe6 5%, #16c8e0 100%);
	background:-webkit-linear-gradient(top, #cadfe6 5%, #16c8e0 100%);
	background:-o-linear-gradient(top, #cadfe6 5%, #16c8e0 100%);
	background:-ms-linear-gradient(top, #cadfe6 5%, #16c8e0 100%);
	background:linear-gradient(to bottom, #cadfe6 5%, #16c8e0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cadfe6', endColorstr='#16c8e0',GradientType=0);
	background-color:#cadfe6;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #85a2ab;
        bottom: 50%;
        left: 50%;       
        line-height: 1.5;
        text-align: center;
        transform: translateX(-50%);
        cursor: pointer;
      position: absolute; 
}

#start:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #16c8e0), color-stop(1, #cadfe6));
	background:-moz-linear-gradient(top, #16c8e0 5%, #cadfe6 100%);
	background:-webkit-linear-gradient(top, #16c8e0 5%, #cadfe6 100%);
	background:-o-linear-gradient(top, #16c8e0 5%, #cadfe6 100%);
	background:-ms-linear-gradient(top, #16c8e0 5%, #cadfe6 100%);
	background:linear-gradient(to bottom, #16c8e0 5%, #cadfe6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#16c8e0', endColorstr='#cadfe6',GradientType=0);
	background-color:#16c8e0;
}

.footer-class{
    z-index: 5;
    color:black;
    font-family: 'Oxygen', sans-serif;
    position: absolute;   
    bottom:0%;
    left: 52%;       
    line-height: 1.5;
    text-align: center;
    transform: translateX(-50%);
    cursor: pointer;
  
}
